body {
                background: url("img/Background.jpg") no-repeat center center fixed;
                background-color: #161616;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }